.process-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  /* Espace entre les sections */
}

.image-section {
  flex: 1;
  text-align: center;
}

.image-section img {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
  border: 3px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}

.parameters-section {
  position: relative;
  transition: all 0.3s ease;
}

.parameters-section.open {
  flex: 0 0 300px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.parameters-section.closed {
  flex: 0 0 50px;
  padding: 20px 0;
  background-color: #f8f8f8;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.parameter-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parameter-control {
  margin-bottom: 20px;
}

.parameter-control label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.parameter-control input[type="range"] {
  width: 100%;
}

.apply-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.apply-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.download-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.download-button:hover {
  background-color: #0056b3;
}

/* Bouton pour ouvrir/fermer la barre des paramètres */
.toggle-button {
  position: absolute;
  top: 10px;
  left: -40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #0056b3;
}