.process-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.images-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.image-section {
  flex: 1;
  text-align: center;
  max-width: 48%;
}

.image-section img {
  width: 100%;
  height: auto;
  max-height: 50vh;
  object-fit: contain;
  border: 2px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px;
  background-color: white;
}

.parameters-download-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
}

.sliders-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}

.slider-container {
  width: 250px;
}

.apply-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apply-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.download-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.download-button:hover {
  background-color: #0056b3;
}

.image-section-right {
  position: relative;
}

.image-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .process-container {
    padding: 0px;
    gap: 0px;
  }

  .images-container {
    gap: 0px;
  }

  .parameters-download-container {
    padding: 10px;
    gap: 0px;
  }

  .text-container,
  .sliders-container {
    gap: 0px;
  }
}



@media only screen and (max-width: 768px) {
  .image-section h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 480px) {
  .image-section h2 {
    font-size: 1rem;
  }
}